body {
    background-image: url("./bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 90vw; 
    margin: 10vh auto;
    background-color: #000000;
    color: white;
    box-shadow: 0px 0px 43px 17px rgb(150, 150, 150);
    border-radius: 10px; 
}

#display {
    text-align: right;
    height: 15vh;
    line-height: 15vh; 
    padding: 16px 8px;
    font-size: 5vw; 
}

.buttons {
    display: grid;
    background-color: #000000;
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    color: white;
    grid-template-columns: repeat(4, 1fr);
}

.buttons > div {
    background-color: #000000;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    color: white;
}

.button {
    background-color: #000000;
    border: 0.5px solid #C0C0C0;
    line-height: 100px; /* Adjust line height for smaller screens */
    text-align: center;
    font-size: 5vw; /* Responsive font size */
    cursor: pointer;
}

#equal {
    background-color: #800000;
    color: white;
}

.button:hover {
    background-color: #996515;
    color: white;
    transition: 0.5s ease-in-out;
}

@media (max-width: 600px) {
    #display {
        font-size: 8vw; 
    }

    .button {
        line-height: 80px; 
        font-size: 6vw;
    }
}
